{% block body %}

    {{ form(form) }}


    {% if values is not null %}

        <h1>voici les doublons: {{ duplicates|length }}</h1>
        {% for duplicate in duplicates %}
            <a>{{ duplicate }},</a>
        {% endfor %}

        <h1>Voici les résultats : {{ values|length }}</h1>
        {% for value in values %}
            <a>{{ value }}</a>
        {% endfor %}
    {% endif %}

{% endblock body %}